h3{
    margin-top:100px;
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.format{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    /* color:white; */
}
body{
    background-image: url('../images/background.jpg');
    /* background-color: blue; */
}